
html, body {
  margin: 0;
  padding: 0;
  background-color: #111;
  color: #eee;
  height: 100%;
}

* {
  box-sizing: content-box;
}

#main {
  height: 100%;
  margin: 20px;
}
#column-area {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 80%;
  border: 2px solid #ff0;
}

.column {
  /* background-color: #eee; */
  /* border: 2px solid red; */
  height: 100%;
  position: relative;
}
.column:hover {
  cursor: pointer;
}
/* inner bar */
.column div {
  position: absolute;
  bottom: 0;
  left: 15%;
  width: 70%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
