h1 {
    color:rgb(7, 7, 7);
    font-size: 40px;
    text-align: center;
}
html, body {
    margin: 0;
    padding: 0;
}
#click_area {
    background-color: rgb(57, 184, 243);
    width: 100%;
    height: 1000px;
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 60px;
}

.settings button{
    color: black;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 1px;
    font-size: 30px;
}

.settings button:hover {
    background-color: rgb(57, 184, 243);
}